# Project Specific Output & Data #
###################################
# Default ignore CSV and Pickle, with exceptions for docs
*.csv
*.pkl
!/docs/source/data/*.csv
!/docs/source/results/*.pkl

# Generated Examples/Docs
docs/source/auto_examples/
docs/source/sg_execution_times.rst

# Example/Test Run Outputs
examples/runs/
test/io/runs/
runs/

# Visualization / Simulation Data
*.vti
*.pvd
*.nc
# *.png

# Open Journals Build Artifacts
paper/jats/
paper/paper.pdf

# Profiling Output (Scalene)
**/profile.html
**/profile.json

# Unrendered Example Notebooks
examples-unrendered/2d_plus_3d.ipynb


# Python Bytecode & Extensions #
###################################
__pycache__/
*.py[cod]
*$py.class
*.so


# Distribution / Packaging #
#############################
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
__pypackages__/
.ruff_cache/


# Installers & Specs #
#######################
# PyInstaller
*.manifest
*.spec


# Logs #
#########
pip-log.txt
pip-delete-this-directory.txt
*.log


# Testing & Coverage #
#######################
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache # General cache, often testing related
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ruff_cache/ # Ruff linter cache
target/ # PyBuilder


# Type Checkers #
##################
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/


# Documentation Build Artifacts #
################################
docs/_build/
/site # mkdocs


# Notebook Checkpoints #
#########################
.ipynb_checkpoints


# Web Framework Specific #
###########################
# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
# Flask
instance/
.webassets-cache
# Scrapy
.scrapy


# Background Task Queues #
###########################
# Celery
celerybeat-schedule
celerybeat.pid


# IDEs / Editors / Tools Specific #
####################################
# IPython
profile_default/
ipython_config.py
# pyenv
.python-version
# Spyder
.spyderproject
.spyproject
# Rope
.ropeproject
# VSCode
**.vscode
# MacOS
**.DS_Store


# Virtual Environments #
#########################
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Other Specific Tools #
########################
# SageMath
*.sage.py
# Others
**.vscode
**.DS_Store
examples-unrendered/2d_plus_3d.ipynb

## Data/ Paraview Files

# *.png
*.vti
*.pvd
runs/

## Open Journals compilation intermediates and results
paper/jats
paper/paper.pdf

## Scalene profiling
**/profile.html
